
    .col {
      background-color: lavender;
      border: 1px solid gray;
    }
         hr{
	    	background: rgb(221, 117, 117);	
	    	}
		.DL{
			
			margin-top: 20px;
			padding: 20px;
			box-shadow: 0px 0px 10px 3px grey;
		}
		.LL{
			
			margin-top: 20px;
			padding: 20px;
			box-shadow: 0px 0px 10px 3px grey;
		}